<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="buttons.css">
</head>

<body>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
