<h1 class="title">Results</h1>

<div id="signs">
  <section id="user">
    <h1>You</h1>
    <p class="sign"><%= user %></p>
  </section>

  <section id="server">
    <h1>Computer</h1>
    <p class="sign"><%= server %></p>
  </section>
</div>

<div id="result"><%= message %></div>

<a href="/" id="play-again-link">Play Again!</a>
